<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="fs-6 bg-light">

  <%- include('../partials/navbar'); %>

    <div class="container">
        <a href="./registerProperty" class="btn btn-primary">Cadastrar</a>
        <ul>
        <% for(let i=0; i<myProperties.length; i++) {%>
            <li><%= myProperties[i].propertyName %> (<%= myProperties[i].location %> - <%= myProperties[i].reference %>) <a id="<%= myProperties[i].id %>" href="./rent?id=<%= myProperties[i].id %>" class="btn btn-primary btn-sm">Abrir</a></li>
        <% } %>
        </ul>
    </div>
    <%- include('../partials/footer'); %>
</body>
</html>
